
@mixin font-adjust($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  @content;
}
@mixin centerPosition{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @content;
}

.register-title{
  @include font-adjust(24px, 700, var(--main-title-color));
}

@media screen and (min-width: 375px){
  .register-title{
    font-size: 32px;
  }
}

// @mixin mainGrid{
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(12, minmax(1fr, 65px));
//   grid-gap: minmax(1fr,30px);
// }

// @mixin defaultGrid{
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(6, minmax(1fr, 65px));
//   grid-gap: 30px;
// }

// @mixin centerPosition{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }




// input:not([type="radio"]),
// select {
//   width: 100%;
//   height: 40px;
//   border: 1px solid var(--input-border-color);
//   border-radius: 4px;
// }

// input:not([type="radio"]) {
//   // color: $input-text;
//   padding: 12px 0;
//   padding-left: 16px;
//   // &::placeholder{
//   //   color: $input-placeholder;
//   // }
// }

//  input[type="radio"] {
//   appearance: none;
//   -webkit-appearance: none;
//   width: 20px;
//   height: 20px;
//   border: 1px solid black;
//   border-radius: 50%;
//   // margin-right: 20px;
//   &:checked{
//     box-shadow: inset 0 0 0 5px $input-option;
//   }
//  }

// select{
//   padding: 12px 0;
//   padding-left: 16px;
//   option {
//     color: $input-option;

//     &:first-child {
//       color: $input-option-selected;
//     }
//   }
// }


