@mixin nextBtn{
  @include font-adjust(14px, 500, var(--next-btn-font-color));
  background-color: var(--next-btn-bg-color);
  border-radius: 8px;
  svg {
    fill: var(--next-btn-font-color);
  }
  @content;
}

@mixin prevBtn{
  @include font-adjust(14px, 500, var(--prev-btn-font-color));
  svg {
    fill: var(--prev-btn-font-color);
  }
}
.progress-control-container[data-type="desktop"]{
  display: none;
}
.progress-control-container[data-type="mobile"] {
  margin-top: 8px;
  .button-group {
    border-top: 1px solid var(--btn-group-border-color);
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .next {
      @include nextBtn;
      width: 156px;
      height: 45px;
      // text-align: center;
      // position: absolute;
      // bottom: 0;
      // right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child{
        width: 100%;
      }
    }
    .prev {
      @include prevBtn;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}




@media screen and (min-width: 375px){
  .progress-control-container[data-type="mobile"] {
      display: none;
  }
  .progress-control-container[data-type="desktop"]{
    display: block;
    margin-top: 24px;
    .button-group {
      border-top: 1px solid var(--btn-group-border-color);
      padding-top: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &[data-phase="address"] {
        justify-content: end;
      }
      .next {
        @include nextBtn;
        width: 175px;
        height: 45px;
        // text-align: center;
        // position: absolute;
        // bottom: 0;
        // right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .prev {
        @include prevBtn;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
}







// .button-group {
//   padding-top: 26px;
//   border-top: 1px solid var(--btn-group-border-color);
//   width: 100%;
//   height: 72px;
//   position: relative;
// }

// button {
//   font-family: 'Inter', sans-serif;
//   font-size: 14px;
// }

// button.next {
//   background-color: var(--next-btn-bg-color);
//   color: var(--next-btn-font-color);
//   border-radius: 8px;
//   width: 175px;
//   height: 45px;
//   text-align: center;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// button.prev {
//   color: var(--pre-btn-font-color);
//   display: flex;
//   justify-content: start;
//   align-items: center;

//   .left-arrow {

//     path {
//       fill: var(--pre-btn-font-color);
//     }
//   }
// }