.radio-group{
  width: 100%;
  height: 60px;
  border: 1px solid var(--radio-group-border-color);
  border-radius: 4px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  input[type="radio"]{
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }
  .radio-info {
    width: 100%;
    margin: 11px 20px;
    .radio-col-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        @include font-adjust(14px, 700, var(--radio-group-font-color));
        margin-bottom: 2px;
      }
      .price {
        @include font-adjust(12px, 400, var(--radio-group-font-color));
      }
    }
    .period {
      @include font-adjust(12px, 400, var(--input-period-color));
    }
  }
}
.radio-group.standard{
  margin-bottom: 24px;
}
.radio-group.checked{
  border: 1px solid var(--input-radio-checked);
  .radio-info{
    .radio-col-12{
      .text {
          font-weight: 400;
        }
    }
  }
  
}


@media screen and (min-width: 375px){
  .radio-group {
    width: 80%;
  }
}
